[Desktop Entry]
Terminal=false
MultipleArgs=true
Type=Link
URL=https://localhost:8443/webui
Categories=Applications;
Icon=adempiere-gotoonlineforum.png
Encoding=UTF-8
Name=ADempiere Web Client
Name[es]=Cliente Web ADempiere
