[Desktop Entry]
Terminal=false
MultipleArgs=true
Type=Link
URL=http://sourceforge.net/projects/adempiere/forums
Categories=Applications;
Icon=adempiere-gotoonlineforum.png
Encoding=UTF-8
Name=Go To Online Forum
Name[es]=Ir a Foro en Línea
