Package: adempiere
Version: 3.6.0
Section: web
Priority: extra
Architecture: all
Pre-Depends: openjdk-6-jdk, postgresql-8.4|postgresql-9.1, adduser
Suggests: firefox
Installed-Size: 968668
Maintainer: Carlos Ruiz  <carg67@gmail.com>
Description: ADempiere ERP
             ADempiere Business Suite ERP/CRM/MFG/SCM/POS.
Homepage: http://sourceforge.net/projects/adempiere/
